<header class="grid-middle padded-1 accent">
    <div class="col-4">
        <a href="/index.html" class="logo">Wakaduze Tollers</a>
    </div>
    <nav class="col-8 hide-sm right">
        <a href="our-dogs.html">Our Dogs</a>
        <a href="/breed-standard.html">Breed Standard</a>
        <a href="about.html">About Tollers</a>
        <a href="#useful-links">Useful Links</a>
        <a href="#contact">Contact</a>
    </nav>
    <div class="col-8 right mob-show">
    	<a class="hamburger-button"> &#9776; </a>
  	</div>
</header>

<div class="mobile-menu"> 
    <nav> 
        <a href="our-dogs.html">Our Dogs</a>
        <a href="/breed-standard.html">Breed Standard</a>
        <a href="about.html">About Tollers</a>
        <a href="#useful-links">Useful Links</a>
        <a href="#contact">Contact</a>
    </nav>
</div> 