<footer class="grid padded-1 dark light-text">
    <div class="col-5_sm-12 padded ">
        <h2 class="logo">Wakaduze Tollers</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, consequuntur eveniet facilis quidem adipisci vitae.</p>
    </div>
    <div class="col-1 hide-sm"></div>
    <div class="col-6_sm-12-middle padded right">
        <nav class="inline">
          <a href="#contact"> Contact </a>|
          <a href="#"> About Tollers </a>|
          <a href="#"> Useful Links </a>
        </nav>
        
      </div>


</footer>


{% include body-scripts.html %}